
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="color:blue">Cyber Security</h1>
    <p class="lead">Computer security, cybersecurity, or information technology security is the protection of computer systems and networks from information disclosure, theft of or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they provide.</p>
    <img src="https://www.securitymagazine.com/ext/resources/images/cybersecurity-freepik.jpg?1626304720" width="490" height="270">
</div>

<div class="row">
    <div class="row">
        <h2 style="color:blue">Modules</h2>
    </div>

    <div class="col-md-4">
        <h2>C Programming</h2>
    </div>

    <div class="col-md-4">
        <h2>Computer Law and Cyber Security Management</h2>
    </div>

    <div class="col-md-4">
        <h2>Linux Security</h2>
    </div>

    <div class="col-md-4">
        <h2>Cyber Threat Intelligence and Incident Response</h2>
    </div>

    <div class="col-md-4">
        <h2>Malware Analysis</h2>
    </div>

    <div class="col-md-4">
        <h2>Computer Ethics and Privacy</h2>
    </div>

    <div class="col-md-4">
        <h2>Development Project</h2>
    </div>

    <div class="row">
        <img src="https://www.stirkhouse.co.uk/wp-content/uploads/2020/03/Covid-19-White-Banner-scaled.jpg" width="1150" height="50">
    </div>

    <div>
        <p><a href="~/CyberSecurity/Modules" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
    </div>

    <div class="row">
        <img src="https://www.stirkhouse.co.uk/wp-content/uploads/2020/03/Covid-19-White-Banner-scaled.jpg" width="1150" height="100">
    </div>
    <div class="col-md-4">
        <a href="https://www.mcdonalds.com/gb/en-gb.html"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01802388175009.5dce0c213382f.gif" width="1150" height="100"></a>
    </div>
</div>