
@{
    ViewBag.Title = "Modules";
}

<h2 style="color:blue">Module Information</h2>

<div class="col-md-4">
    <h3>C Programming</h3>
    <h4>SE3901</h4>
    <p>C is a general-purpose computer programming language. It was created in the 1970s and remains very widely used and influential. By design, C's features cleanly reflect the capabilities of the targetted CPUs.</p>
    <h5>Staff Member: Dr Alina Boyce</h5>
</div>

<div class="col-md-4">
    <h3>Computer Law and Cyber Security Management</h3>
    <h4>SE3902</h4>
    <p>Cyber Law also called IT Law is the law regarding Information-technology including computers and internet. It is related to legal informatics and supervises the digital circulation of information, software, information security and e-commerce.</p>
    <h5>Staff Member: Dr Gerrard Gregory</h5>
</div>

<div class="col-md-4">
    <h3>Linux Security</h3>
    <h4>SE3903</h4>
    <p>Security. From its very inception, security has been a cornerstone of the Linux operating system. Each user has to be walled off from others, and a password and user ID are required for an individual to use Linux.</p>
    <h5>Staff Member: Dr Sophia Floyd</h5>
</div>

<div class="col-md-4">
    <h3>Cyber Threat Intelligence and Incident Response</h3>
    <h4>SE3904</h4>
    <p>Operational or technical cyber threat intelligence provides highly specialized, technically-focused, intelligence to guide and support the response to specific incidents; such intelligence is often related to campaigns, malware, and/or tools, and may come in the form of forensic reports.</p>
    <h5>Staff Member: Dr Catrina Vargas</h5>
</div>

<div class="col-md-4">
    <h3>Malware Analysis</h3>
    <h4>SE3905</h4>
    <p>Malware analysis is the process of understanding the behavior and purpose of a suspicious file or URL. The output of the analysis aids in the detection and mitigation of the potential threat.</p>
    <h5>Staff Member: Dr Rhydian Chapman</h5>
</div>

<div class="col-md-4">
    <h3>Computer Ethics and Privacy</h3>
    <h4>IMAT3611</h4>
    <p>Privacy in computer ethics refers to the ethical dilemmas that computer users face in some situations that may lead to the violation of another person's privacy through the use of computers. Ethics is a reference to a sense of what is right and wrong.</p>
    <h5>Staff Member: Dr Sallie Guy</h5>
</div>

<div class="col-md-4">
    <h3>Development Project</h3>
    <h4>SE3451</h4>
    <p>Development Project means any construction, development or infrastructure project, including without limitation greenfield projects and brownfield projects, in which the Company or any of its Subsidiaries participates or holds, directly or indirectly, an interest, or the bidding on any such project.</p>
    <h5>Staff Member: Dr Tonya Spooner</h5>
</div>

<div class="row">
    <img src="https://www.stirkhouse.co.uk/wp-content/uploads/2020/03/Covid-19-White-Banner-scaled.jpg" width="1150" height="100">
</div>
<div class="col-md-4">
    <a href="https://www.mcdonalds.com/gb/en-gb.html"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01802388175009.5dce0c213382f.gif" width="1150" height="100"></a>
</div>
