
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="color:blue">Computer Science</h1>
    <p class="lead">Computer science is the study of computation, automation, and information. Computer science spans theoretical disciplines to practical disciplines. Computer science is generally considered an area of academic research and distinct from computer programming.</p>
    <div class="col-md-4">
        <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
        <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
    </div>
    <img src="https://images1.content-hci.com/commimg/myhotcourses/blog/post/myhc_89683.jpg">
</div>

<div class="row">
    <div class="row">
        <h2 style="color:blue"> Modules:</h2>
    </div>
    <div class="col-md-4">
        <h2>Scala Programming</h2>
        <p>Module Code: COS1903</p>
    </div>
    <div class="col-md-4">
        <h2>Database Management</h2>
        <p>Module Code: COS1920</p>
    </div>
    <div class="col-md-4">
        <h2>Object Oriented Programming (Java)</h2>
        <p>Module Code: COS2905</p>
    </div>    <div class="col-md-4">
        <h2>Database Management</h2>
        <p>Module Code: COS2910</p>
    </div>    <div class="col-md-4">
        <h2>Mobile Application</h2>
        <p>Module Code: COS3911</p>
    </div>    <div class="col-md-4">
        <h2>Computer Ethics and Privacy</h2>
        <p>Module Code: IMAT3611</p>
    </div>    <div class="col-md-4">
        <h2>Development Project</h2>
        <p>Module Code: COS3451</p>
    </div>
    <div class="row">
        <img src="https://www.stirkhouse.co.uk/wp-content/uploads/2020/03/Covid-19-White-Banner-scaled.jpg" width="1150" height="100">
    </div>
    <div class="col-md-4">
        <a href="https://www.mcdonalds.com/gb/en-gb.html"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01802388175009.5dce0c213382f.gif" width="1150" height="100"></a>
    </div>
</div>
