
@{
    ViewBag.Title = "Modules";
}

<h2 style="color:blue">Module Information</h2>

<div class="col-md-4">
    <h3>Scala Programming</h3>
    <h4>COS1903</h4>
    <p>Scala is a strong statically typed general-purpose programming language which supports both object-oriented programming and functional programming. Designed to be concise, many of Scala's design decisions are aimed to address criticisms of Java.</p>
    <h5>Staff Member: Dr Winifred Villa</h5>
</div>

<div class="col-md-4">
    <h3>Database Management</h3>
    <h4>COS1920</h4>
    <p>Database management refers to the actions a business takes to manipulate and control data to meet necessary conditions throughout the entire data lifecycle.</p>
    <h5>Staff Member: Dr Ellouise Howell</h5>
</div>

<div class="col-md-4">
    <h3>Object Oriented Programming (Java)</h3>
    <h4>COS2905</h4>
    <p>Object-oriented programming is a programming paradigm based on the concept of "objects", which can contain data and code: data in the form of fields, and code, in the form of procedures. A feature of objects is that an object's own procedures can access and often modify the data fields of itself.</p>
    <h5>Staff Member: Dr Maddy Medina</h5>
</div>

<div class="col-md-4">
    <h3>Database Management</h3>
    <h4>COS2910</h4>
    <p>Database management refers to the actions a business takes to manipulate and control data to meet necessary conditions throughout the entire data lifecycle.</p>
    <h5>Staff Member: Dr Leila Mackay</h5>
</div>

<div class="col-md-4">
    <h3>Mobile Application</h3>
    <h4>COS3911</h4>
    <p>A mobile application or app is a computer program or software application designed to run on a mobile device such as a phone, tablet, or watch.</p>
    <h5>Staff Member: Dr Ava-Mae Riddle</h5>
</div>

<div class="col-md-4">
    <h3>Computer Ethics and Privacy</h3>
    <h4>IMAT3611</h4>
    <p>Privacy in computer ethics refers to the ethical dilemmas that computer users face in some situations that may lead to the violation of another person's privacy through the use of computers. Ethics is a reference to a sense of what is right and wrong.</p>
    <h5>Staff Member: Dr Fern Mccall</h5>
</div>

<div class="col-md-4">
    <h3>Development Project</h3>
    <h4>COS3451</h4>
    <p>Development Project means any construction, development or infrastructure project, including without limitation greenfield projects and brownfield projects, in which the Company or any of its Subsidiaries participates or holds, directly or indirectly, an interest, or the bidding on any such project.</p>
    <h5>Staff Member: Dr Courtnie Nunez</h5>
</div>

<div class="row">
    <img src="https://www.stirkhouse.co.uk/wp-content/uploads/2020/03/Covid-19-White-Banner-scaled.jpg" width="1150" height="100">
</div>
<div class="col-md-4">
    <a href="https://www.mcdonalds.com/gb/en-gb.html"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01802388175009.5dce0c213382f.gif" width="1150" height="100"></a>
</div>