@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>There are so many reasons to choose Information and Technology College</h4>
<p>If you enjoy keeping up with the latest advances in the broad and ever-changing field of information technology, you may be able to turn your personal interest into a fulfilling career. Learn some of the top reasons to sharpen your tech skills and put them to work.</p>
<h4>Choose from Different Career Paths</h4>
<p>Information Technology (IT) allows you to take your career in a number of different directions. Become a computer network architect, a computer programmer, a computer systems analyst, a database administrator, an information security analyst, an information architect, a web developer and so much more! South University even offers specializations in Database Development and Administration, Information Systems Security, Network Administration and Management, and Multimedia and Web Development.</p>
<h4>Find Work Almost Anywhere</h4>
<p>Nearly every company needs a team of savvy computer experts to keep its systems up and running. You can find work in just about every industry you’d like, such as financial services, entertainment, government, hospitality, healthcare, manufacturing, retail and more.</p>
<h4>Thrive as Part of a Team and an Individual Contributor</h4>
<p>If you think IT work is completed mostly on a solo basis, you may be surprised to learn it’s actually largely a collaborative effort. You’ll likely be working closely with your colleagues on a number of group projects, allowing you to be part of many larger scale initiatives. Don’t worry if you also like some time to work on solo projects, as you’ll also have plenty of opportunities to complete assignments on your own.</p>
<h4>Enjoy the Opportunity to Keep Learning</h4>
<p>Companies are aware that technology changes at the speed of light, which is why many organizations invest heavily in the continuing education of information technology workers. Enjoy working in a field where you’re encouraged to never stop learning.</p>
<h4>Explore Your Creative Side</h4>
<p>Much of the IT process actually relies on creativity and problem-solving. This field provides you with the unique opportunity to use your tech skills to come up with innovative solutions to problems faced by your clients, company and the population as a whole. You have the opportunity to use your skills to make major contributions.</p>
<h4>Turn Your Talent into a Career</h4>
<p>As a naturally tech savvy person, you’ve probably been interested in computers since you were pretty young. You’re in a unique — and wonderful — position to turn something that’s always been a hobby into a rewarding career. What could be better than finding a career that you truly enjoy?</p>

<div class="row">
    <img src="https://www.stirkhouse.co.uk/wp-content/uploads/2020/03/Covid-19-White-Banner-scaled.jpg" width="1150" height="100">
</div>
<div class="col-md-4">
    <a href="https://www.mcdonalds.com/gb/en-gb.html"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01802388175009.5dce0c213382f.gif" width="1150" height="100"></a>
</div>