@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<address>
    De Montfort Road<br />
    Leicester, LE1 7TY<br />
</address>

<address>
    <abbr title="Phone">Tel:</abbr>
    +44 7837281937
</address>

<address>
    <abbr title="Phone">Fax:</abbr>
    01536 514234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:infotech@gmail.uk">infotech@gmail.uk</a><br />
</address>

<img src="https://www.ticketsource.co.uk/images/map?function=whats-on&zoom=13&postcode=LE2%206FU&lat=52.606912&lng=-1.124589&size=270x250" style="width:25%">

<div class="row">
    <img src="https://www.stirkhouse.co.uk/wp-content/uploads/2020/03/Covid-19-White-Banner-scaled.jpg" width="1150" height="100">
</div>
<div class="col-md-4">
    <a href="https://www.mcdonalds.com/gb/en-gb.html"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01802388175009.5dce0c213382f.gif" width="1150" height="100"></a>
</div>