@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Information and Technology College</h1>
    <p class="lead">As an information technology (IT) major, you'll study computer science, software engineering, and cyber security. Along the way, you might focus on one specialty such as web development or digital communications. But regardless of your focus, you'll acquire strong technical and communication skills.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Computer Science</h2>
        <p>
            Computer science is the study of computation, automation, and information. Computer science spans theoretical disciplines to practical disciplines. Computer science is generally considered an area of academic research and distinct from computer programming.
        </p>
        <p><a class="btn btn-default" href="~/ComputerScience/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Software Engineering</h2>
        <p>Software engineering is an engineering approach on a software development of systematics application. A software engineer is a person who applies the principles of software engineering to design, develop, maintain, test, and evaluate computer software.</p>
        <p><a class="btn btn-default" href="~/SoftwareEngineering/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cyber Security</h2>
        <p>Computer security, cybersecurity, or information technology security is the protection of computer systems and networks from information disclosure, theft of or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they provide.</p>
        <p><a class="btn btn-default" href="~/CyberSecurity/Index">Learn more &raquo;</a></p>
    </div>
</div>