@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Information and Technology College</h1>
    <p class="lead">-information about the information and technology college text here-</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Computer Science</h2>
        <p>
            -information about computer science text here-
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Software Engineering</h2>
        <p>-information about software engineering text here-</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cyber Security</h2>
        <p>-information about cyber scurity text here-.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>