
@{
    ViewBag.Title = "Modules";
}

<h2 style="color:blue">Module Information</h2>

<div class="col-md-4">
    <h3>Interaction Design</h3>
    <h4>SE3906</h4>
    <p>Interaction Design (IxD) is the design of interactive products and services in which a designer's focus goes beyond the item in development to include the way users will interact with it.</p>
    <h5>Staff Member: Dr Calvin Walter</h5>
</div>

<div class="col-md-4">
    <h3>Web Application Penetration Testing</h3>
    <h4>SE3410</h4>
    <p>A web application penetration test aims to identify security vulnerabilities resulting from insecure development practices in the design, coding and publishing of software or a website.</p>
    <h5>Staff Member: Dr Colm Johns</h5>
</div>

<div class="col-md-4">
    <h3>Fuzzy Logic & Knowledge Based Systems</h3>
    <h4>SE3406</h4>
    <p>In fuzzy logic systems, the fuzzy knowledge base represents the facts of the rules and linguistic variables based on the fuzzy set theory so that the knowledge base sytems will allow approximate reasoning.</p>
    <h5>Staff Member: Dr Leroy Cortes</h5>
</div>

<div class="col-md-4">
    <h3>Data Mining</h3>
    <h4>SE3613</h4>
    <p>Data mining is the process of finding anomalies, patterns and correlations within large data sets to predict outcomes. Using a broad range of techniques, you can use this information to increase revenues, cut costs, improve customer relationships, reduce risks and more.</p>
    <h5>Staff Member: Dr Ellisha Cervantes</h5>
</div>

<div class="col-md-4">
    <h3>Big Data & Business Models</h3>
    <h4>SE3614</h4>
    <p>The concept of a data-driven business model (DDBM) is built around data as a product – it lays out benefits for users of data-based services and introduces methods for managing.</p>
    <h5>Staff Member: Dr Lucie Mckay</h5>
</div>

<div class="col-md-4">
    <h3>Computer Ethics and Privacy</h3>
    <h4>IMAT3611</h4>
    <p>Privacy in computer ethics refers to the ethical dilemmas that computer users face in some situations that may lead to the violation of another person's privacy through the use of computers. Ethics is a reference to a sense of what is right and wrong.</p>
    <h5>Staff Member: Dr Roxie Tran</h5>
</div>

<div class="col-md-4">
    <h3>Development Project</h3>
    <h4>SE3451</h4>
    <p>Development Project means any construction, development or infrastructure project, including without limitation greenfield projects and brownfield projects, in which the Company or any of its Subsidiaries participates or holds, directly or indirectly, an interest, or the bidding on any such project.</p>
    <h5>Staff Member: Dr Sahara Rosas</h5>
</div>

<div class="row">
    <img src="https://www.stirkhouse.co.uk/wp-content/uploads/2020/03/Covid-19-White-Banner-scaled.jpg" width="1150" height="100">
</div>
<div class="col-md-4">
    <a href="https://www.mcdonalds.com/gb/en-gb.html"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01802388175009.5dce0c213382f.gif" width="1150" height="100"></a>
</div>

